.upper{
    background-color: #1f2937;

}
.header{
    display: flex;
    padding: 50px;
}
.header a img{
padding-left: 20px;
}
.navlinks{
    margin-left: 1000px;
    /*margin-top: 20px;*/
    padding: 20px;

}
.navlinks a{
    font-size: 50px;
    padding: 20px;
    text-decoration: none;
    color: antiquewhite;
}
.intro{
    display: flex;
    padding: 20px;
    padding-bottom: 100px;
}
.introbat{
    margin-right: 150px;
    margin-left: 50px;
}
.welcome{
    color: #e5e7eb;
    font-weight: 18px;


}
.welcome #text{
    font-size: xx-large;
    font-weight: 900;
    color: #edf8e3;
}
.introbat button{
    background-color: #3882f6;
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 20px;
}